* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #449f81;
  --color-primary-dark: #2f755d;
  --color-primary-light: #76d1a9;

  --color-background: #090909;
  --color-card: #191919;
  --color-card-lighter: #1e1e1e;

  --color-font-primary: #ffffff;
  --color-font-background: #ffffff;
  --color-font-card: #ffffff;
  --color-font-subheading-card: #4d4b4b;

  --font-normal: 1rem;
  --font-medium: 1.333rem;
  --font-large: 1.58rem;
  --font-5xl: 4.333rem;

  --font-style-heading: "Maven Pro", sans-serif;
  --font-style-normal: "Open Sans", sans-serif;

  --color-card-shadow: rgba(0, 0, 0, 0.4);

  font-family: var(--font-style-normal);
  font-size: 15px;
  font-weight: 400;
}
body {
  background-color: var(--color-background);
  color: var(--color-font-background);
  font-size: var(--font-normal);
  overflow-x: hidden;
}
.container {
  padding: 40px 80px;
  width: 100vw;
  max-width: 1600px;
  margin: auto;
}
h1 {
  font-family: var(--font-style-heading);
  font-size: var(--font-5xl);
  color: var(--color-primary);
  margin-left: 40px;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
header {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
header img {
  height: 80px;
  width: 80px;
  object-fit: contain;
}
main {
  padding: 30px 0;
}
main section {
  padding: 40px 0 20px 0;
}
main section .heading {
  display: flex;
  align-items: center;
}
main section .heading h2 {
  margin-left: 15px;
  font-size: var(--font-large);
  font-weight: 600;
}
main section .heading .icon {
  height: 30px;
  width: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 40px;
  column-gap: 60px;
  padding: 70px 0 50px 0;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  overflow: hidden;
  background-color: var(--color-card);
  color: var(--color-font-card);
  box-shadow: 0 2px 4px var(--color-card-shadow);
  transition: all 200ms ease-in-out;
}
.card:hover {
  box-shadow: 0 5px 10px var(--color-card-shadow);
  background-color: var(--color-card-lighter);
}
.card .icon {
  height: 85px;
  width: 85px;
  object-fit: contain;
  padding: 0 10px;
}
.card .description {
  flex: 1;
  padding: 0 20px;
}
.card .description .main {
  font-size: var(--font-medium);
}
.card .description .content {
  font-size: var(--font-normal);
  color: var(--color-font-subheading-card);
}

.card .label {
  position: absolute;
  right: 0;
  top: 0;
  border: 35px solid transparent;
  border-top-color: var(--color-primary);
  border-right-color: var(--color-primary);
}
.card .label img {
  position: absolute;
  transform: translate(5px, -25.5px);
}

@media (max-width: 1400px) {
  :root {
    font-size: 16px;
  }
  .container {
    padding: 40px 40px;
  }

  .cards {
    column-gap: 40px;
  }
  .card {
    padding: 20px 15px;
  }
  .card .icon {
    padding: 0 10px;
  }
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 800px) {
  :root {
    --font-5xl: 3rem;
    --font-large: 1.4rem;
  }
  h1 {
    margin-left: 30px;
  }
  header img {
    height: 60px;
    width: 60px;
  }
  main section {
    padding: 40px 0 20px 0;
  }
  main section .heading .icon {
    height: 27px;
    width: 27px;
  }
  .cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 50px 0 50px 0;
  }
}
